@use "../breakpoints" as *;
//add pointer-events: auto; to inspect  and a background: rgba(255, 0, 0, 0.2);


.FirstPage {
  color: #00ff00;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  @include respond(mobile) {
    justify-content: space-between;
  }

}

.title {
  position: relative;
  padding: 0 5%;
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings:
    "ROND" 0;
  font-size: 5rem;


  @include respond(mobile) {
    font-size: 2.4rem;

  }

}

p {
  color: white;
  padding: 10% 5%;
  font-size: 1.3rem;
  line-height: 46px;

  @include respond(mobile) {
    font-size: 1rem;
    margin-top: 14rem;
  }

}

span {
  color: #00ff00;
  font-family: "Doto", sans-serif;
}




// ---------------------------------- Second Page  

.SecondPage {
  width: 100vw;
  height: 100vh;


  font-family: 'Doto', Courier, monospace;
  text-shadow:
    1px 1px 0 #000,
    2px 2px 0 #fa3f01,
    3px 3px 0 #000;

  cursor: pointer;
  transition: all 0.2s ease;
}

.Btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  position: relative;
  pointer-events: auto;
  color: #00ff00;
  background-color: #000;
  border: 2px solid #00ff00;
  width: fit-content;

  /* ASCII-style text effect */
  font-family: 'Doto', Courier, monospace;


  cursor: pointer;
  transition: all 0.2s ease;

  @include respond(mobile) {
    padding: 0.8rem 1rem;
  }

}

.Btn:hover {
  color: #000;
  background-color: #00ff00;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00 inset;
  border-color: #00ff00;
}


.InvertBtn {
  font-size: 24px;
  left: 60%;
  top: 75vh;

  @include respond(mobile) {
    font-size: 16px;
    top: 100vh;
    left: 10%;
  }
}


.AsciiBtn {
  font-size: 24px;
  top: 35vh;
  left: 5%;
    @include respond(mobile) {
    font-size: 16px;
  }
}

form{
  font-size: 24px;
  left: 5%;
  position: relative;

  @include respond(mobile) {
  font-size: 12px;
  top: 10vh;
  }

  p {
    margin-top: 0;
    text-shadow: none;
    padding: 0;
  }

}
// ----------------------------------  Third Page 

.ThirdPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: rgb(29, 206, 47);
  transition: transform 0.3s;

  &:hover {
    color: rgb(74, 123, 79);
    transform: scale(1.2);
  }
}